[submodule "localizacion"]
	path = localizacion
	url = https://github.com/Tysamncaweb/LOCALIZACION_BIUMAK.git
	branch = master
[submodule "LOCALIZACION_BIUMAK"]
	path = LOCALIZACION_BIUMAK
	url = https://github.com/Tysamncaweb/LOCALIZACION_BIUMAK.git
